.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: #a7a7a7
}
#anotherLine {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    flex-direction: column;
    background-color: rgb(241, 228, 128);
    padding: 5px;
    width: 50%;
    height: 500px;
    border-radius: 10px;
}

#kapsName {
    width: 150px;
    padding: 5px;
    margin: 5px;
}

#myBtn {
    padding: 5px;
    margin: 5px;
    width: 150px;
}

#tambah {
    padding: 5px;
    margin: 5px;
    width: 200px;
}